<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Is My Power Back Yet?" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>

    <script>
      var scripts_loaded = new Set();
      function on_load(name) {
        scripts_loaded.add(name);
        if (typeof on_scripts_loaded === 'function') {
          on_scripts_loaded(scripts_loaded);
        }
      }
    </script>

    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")} onload="on_load('app')" async defer></script>
    <%= render(view_module(@conn), "head.html", assigns) %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
