# Git data
.git

# Elixir build artifacts
_build
deps

# Node build artifacts
node_modules
assets/node_modules

# Tests
test

# Compiled static artifacts
priv/static/assets
priv/static/cache_manifest.json

# Local stuff
.elixir_ls
.env.*
.secrets
tmp
